{% extends "mosca/base.html" %}

{% block body %}
<ul>
    <li>
        Base 64
        <ul>
            <li>
                <a href="/tools/base64/encode">Encode</a>
            </li>
            <li>
                <a href="/tools/base64/decode">Decode</a>
            </li>
        </ul>
    </li>

    <li>
        URL
        <ul>
            <li>
                <a href="/tools/url/encode">Encode</a>
            </li>
            <li>
                <a href="/tools/url/decode">Decode</a>
            </li>
        </ul>
    </li>
</ul>
{% endblock body %}