<html>
    <head>
        <title>
            Ornitorrincos - Rugby Rio Claro - Login
        </title>

        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.3.2.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.qtip-1.0.0-rc3.min.js"></script>

    </head>

    <body>
        {% if error %}
            {{ error }}
        {% endif %}
        <div>Seja bem vindo ao site dos ornitorrincos</div>
        <div>
            <form action="." method="post">
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div></div>
        <div></div>
    </body>
</html>