{% extends "layout.jinja2" %}

{% block title %}Not found - Web Challenge 1.0{% endblock title %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Web Challenge</span> <span class="smaller">1.0</span></h1>
  <p class="lead"><span class="font-semi-bold">404</span> Page Not Found</p>
</div>
{% endblock content %}
