<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Geru Web Challenge">

    <title>{% block title %}Web Challenge 1.0{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{request.static_url('geru:static/bootstrap/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('geru:static/theme.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" integrity="sha384-f1r2UzjsxZ9T4V1f2zBO/evUqSEOpeaUUZcMTz1Up63bl4ruYnFYeM+BxI4NhyI0" crossorigin="anonymous"></script>
    <![endif]-->
  </head>

  <body>
    <div class="whole-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <ul>
              <li>
                <i class="glyphicon glyphicon-cog icon-muted"></i>
                <a href="{{ request.route_url('home') }}">Home</a>
              </li>
              <li>
                <i class="glyphicon glyphicon-globe icon-muted"></i>
                <a href="{{ request.route_url('quotes') }}">Quotes</a>
              </li>
              <li>
                <i class="glyphicon glyphicon-home icon-muted"></i>
                <a href="{{ request.route_url('quote_rnd') }}">Random Quote</a>
              </li>
            </ul>
            <ul>
              <li>Rest: </li>
              <li>
                <i class="glyphicon glyphicon-cog icon-muted"></i>
                <a href="{{ request.route_url('sessions') }}">Sessions</a>
              </li>
              <li>
                <i class="glyphicon glyphicon-globe icon-muted"></i>
                <a href="{{ request.route_url('requests') }}">Requests</a>
              </li>
            </ul>
          </div>
          <div class="col-md-10">
            {% block content %}
                <p>No content</p>
            {% endblock content %}
          </div>
        </div>
        <div class="row">
          <div class="copyright">
            Copymiddle &sum; Some Project
          </div>
        </div>
      </div>
    </div>

    <script src="{{request.static_url('geru:static/bootstrap/bootstrap.min.js')}}"></script>
  </body>
</html>
