<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>

        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.3.2.js"></script>
        <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.qtip-1.0.0-rc3.min.js"></script>

        <style type="text/css">
            .destaque_validation
            {
                border: red 1px solid;
            }
        </style>


        <script language="JavaScript">

            function createWarning(identifier, titulo, mensagem)
            {
                $(identifier).qtip(
                {
                  content: {
                     title: {
                        text: titulo,
                        button: 'X'
                     },
                     text: mensagem
                  },
                  position: {
                     target: $(document.body), // Position it via the document body...
                     corner: 'center' // ...at the center of the viewport
                  },
                  show: {
                     when: false, // dont show it
                     solo: true // And hide all other tooltips
                  },
                  hide: false,
                  style: {
                     width: { max: 600 },
                     padding: '14px',
                     border: {
                        width: 9,
                        radius: 9,
                        color: '#666666'
                     },
                     name: 'light'
                  },
                  api: {
                     beforeShow: function()
                     {
                        // Fade in the modal "blanket" using the defined show speed
                        $('#qtip-blanket').fadeIn(this.options.show.effect.length);
                        $('body').css( {'overflow' : 'hidden'} );
                     },
                     beforeHide: function()
                     {
                        // Fade out the modal "blanket" using the defined hide speed
                        $('#qtip-blanket').fadeOut(this.options.hide.effect.length);
                     },
                     onHide: function()
                     {
                        $(document).css( {'overflow' : 'auto'} );
                     }
                  }
                });
            }

            function closeWarning()
            {
                $('#logout_link').qtip('hide');
            }


            function showWarning()
            {
                $('#logout_link').qtip('show');
            }


            $(document).ready(function()
            {

                // Create the modal backdrop on document load so all modal tooltips can use it
                $('<div id="qtip-blanket">').css(
                {
                     position: 'absolute',
                     top: $(document).scrollTop(), // Use document scrollTop so it's on-screen even if the window is scrolled
                     left: 0,
                     height: '1000%', // Span the full document height...
                     width: '100%', // ...and full width

                     opacity: 0.7, // Make it slightly transparent
                     backgroundColor: 'black',
                     zIndex: 5000  // Make sure the zIndex is below 6000 to keep it below tooltips!
                 })
                 .appendTo(document.body) // Append to the document body
                 .hide(); // Hide it initially


                 var mensagem = 'Tem certeza que deseja sair?<br />'+
                                'Todas as altera&ccedil;&otilde;es ainda n&atilde;o salvas '+
                                'ser&atilde;o perdidas.<br />'+
                                '<a href="{%url logout%}">Sair</a> <a href="javascript:;" onclick="closeWarning();">Vou salvar as altera&ccedil;&otilde;es</a>'

                 createWarning('#logout_link', 'Confirma&ccedil;&atilde;o', mensagem);
            });

        </script>


        {% block extrahead %}
        {% endblock %}
    </head>

    <body>
        <div>
            <a href="javascript:;" id="logout_link" onclick="showWarning();">Encerrar sess&atilde;o</a>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>