{% extends "mosca/base.html" %}

{% block subtitle %}
<h4>Decodifique da <b>Base64</b></h4>
{% endblock subtitle %}


{% block body %}
<div class="center_line">
    <a class="btn btn-default {% if view == 'encode' %}active{% endif %}" {% if view != 'encode' %}href="/tools/base64/encode"{%endif%}>
        <h4>Codifique para <b>Base64</b></h4>
    </a>

    <a class="btn btn-default {% if view == 'decode' %}active{% endif %}" {% if view != 'decode' %}href="/tools/base64/decode"{%endif%}>
        <h4>Decodifique da <b>Base64</b></h4>
    </a>
</div>

<form method="POST" target="_self" action="" class="endecode">
    <textarea class="endecode" name="data" placeholder="Aqui vai o texto a ser decodificado">{%if data%}{{data}}{%endif%}</textarea>

    <div class="block_line">
        <button type="submit" class="btn btn-success">Decodificar</button>

        <select title="Selecione o charset" name="charset" class="form-control">
            {%for p in CHARSETS%}
            <option {% if charset == p %}selected="selected"{%endif%} value="{{p}}">{{p}}</option>
            {%endfor%}
        </select>
    </div>
</form>
<textarea class="endecode" name="out" placeholder="Aqui devolvemos o texto decodificado">{% if decoded %}{{decoded}}{% endif %}</textarea>

<div class="text_block">
    <p>
        <b>Base64</b> é um método para codificação de dados para transferência na Internet (<i>codificação MIME para transferência de conteúdo</i>) . É utilizado frequentemente para transmitir dados binários por meios de transmissão que lidam apenas com texto, como por exemplo para enviar arquivos anexos por email.
    </p>
    <p>
        É constituído por 64 caracteres ([A-Za-z0-9], "/" e "+") que deram origem ao seu nome. O carácter "=" é utilizado como um sufixo especial e a especificação original (<a rel="nofollow" href="//tools.ietf.org/html/rfc989">RFC 989</a>) definiu que o símbolo "*" pode ser utilizado para delimitar dados convertidos, mas não criptografados, dentro de um <i>stream</i>.
    </p>
    <p>
        Exemplo de codificação:
    </p>
    <ul>
        <li>Texto original: hello world</li>
        <li>Texto convertido para Base64: aGVsbG8gd29ybGQ=</li>
    </ul>
    <p>
        A codificação Base64 é frequentemente utilizada quando existe uma necessidade de transferência e armazenamento de dados binários para um dispositivo designado para trabalhar com dados textuais. Esta codificação é amplamente utilizada por aplicações em conjunto com a linguagem de marcação XML, possibilitando o armazenamento de dados binários em forma de texto.
    </p>
                            
    <br>Fonte: <a href="http://pt.wikipedia.org/wiki/Base64" target="_blank" title="Wikipedia">Wikipedia</a>
</div>
{% endblock body %}